In [5]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# Merge on 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='left')

print(merged_df)

   ID     Name   Age
0   1    Alice  25.0
1   2      Bob  30.0
2   3  Charlie   NaN

In [6]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# Merge on 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='right')  

print(merged_df)

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30
2   4    NaN   22

In [7]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# Merge on 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='inner') 

print(merged_df)

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

In [8]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# Merge on 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='outer')  

print(merged_df)

   ID     Name   Age
0   1    Alice  25.0
1   2      Bob  30.0
2   3  Charlie   NaN
3   4      NaN  22.0

In [9]:
import pandas as pd
df = pd.read_csv("IPL Matches 2008-2020.csv")

In [10]:
# Team Performance Analysis - Win Count
team_wins = df['winner'].value_counts()
print("Total Wins per Team:\n", team_wins)

Total Wins per Team:
 winner
Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [11]:
# Analyzing toss decisions
toss_decision = df.groupby("toss_decision")["winner"].count()
print("Impact of Toss Decisions:\n", toss_decision)

Impact of Toss Decisions:
 toss_decision
bat      319
field    493
Name: winner, dtype: int64

In [13]:
# Player with most 'Player of the Match' awards
top_players = df["player_of_match"].value_counts().head(10)
print("Top 10 Players by 'Player of the Match' Awards:\n", top_players)

Top 10 Players by 'Player of the Match' Awards:
 player_of_match
AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
SR Watson         16
YK Pathan         16
SK Raina          14
V Kohli           13
G Gambhir         13
Name: count, dtype: int64

In [14]:
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64