In [ ]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MyApp").master("local[*]").getOrCreate()
print("Spark version:",spark.version)

Spark version: 3.5.1

In [ ]:
from pyspark import SparkContext
sc= SparkContext("local","ParallelizeExample")

In [ ]:
rdd=sc.parallelize([1,2,3,4,5])

In [ ]:
rdd.collect()

[1, 2, 3, 4, 5]

In [ ]:
print(rdd.count())

5

In [ ]:
rdd.first()

1

In [ ]:
rdd.take(3)

[1, 2, 3]

In [ ]:
rdd.map(lambda x:x*2).collect()

[2, 4, 6, 8, 10]

In [ ]:
rdd.distinct().collect()

[1, 2, 3, 4, 5]

to reverse

In [ ]:
rdd.sortBy(lambda x:-x).collect()

[5, 4, 3, 2, 1]

In [ ]:
# prompt: rdd commands in python

rdd.reduce(lambda x,y:x+y)
rdd.filter(lambda x : x%2==0).collect()
rdd.flatMap(lambda x: [x, x*2]).collect()
rdd.union(sc.parallelize([6,7,8])).collect()
rdd.intersection(sc.parallelize([3,4,5])).collect()
rdd.subtract(sc.parallelize([3,4])).collect()
rdd.cartesian(sc.parallelize([6,7])).collect()

[(1, 6),
 (1, 7),
 (2, 6),
 (2, 7),
 (3, 6),
 (3, 7),
 (4, 6),
 (4, 7),
 (5, 6),
 (5, 7)]

In [ ]:
rdd1=sc.parallelize([5,6,7,8])

In [ ]:
rdd.union(rdd1).collect()

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [ ]:
rdd.cartesian(rdd1).collect()

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8)]

Key value pair

In [ ]:
pair_rdd=sc.parallelize([(1,2),(1,3),(2,3),(2,4),(3,2),(4,3),(5,9),(5,8),(5,5)])

GroupByKey

In [ ]:
pair_rdd.groupByKey().mapValues(list).collect()

[(1, [2, 3]), (2, [3, 4]), (3, [2]), (4, [3]), (5, [9, 8, 5])]

ReduceByKey

In [ ]:
pair_rdd.reduceByKey(lambda x,y:x+y).collect()

[(1, 5), (2, 7), (3, 2), (4, 3), (5, 22)]

CountByValue

In [ ]:
pair_rdd.countByValue()

defaultdict(int,
            {(1, 2): 1,
             (1, 3): 1,
             (2, 3): 1,
             (2, 4): 1,
             (3, 2): 1,
             (4, 3): 1,
             (5, 9): 1,
             (5, 8): 1,
             (5, 5): 1})

In [ ]:
emp_data =[
    ['001','101','John Doe','30','Male','50000','2015-01-01'],
    ['002','102','Jane Smith','35','Female','60000','2016-02-01'],
    ['003','103','Bob Johnson','40','Male','70000','2017-03-01'],
    ['004','104','Alice Brown','45','Female','80000','2018-04-01'],
]

In [ ]:
columns = 'employee_id string,department_id string,employee_name string,age string,gender string,salary string,hire_date string'

In [ ]:
emp=spark.createDataFrame(data=emp_data,schema=columns)