In [ ]:
from pyspark import SparkContext
sc = SparkContext("local","ParallelizeExample")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=ParallelizeExample, master=local) created by __init__ at <ipython-input-2-d9be8aec9465>:2

In [ ]:
rdd = sc.textFile("/content/EVM.txt")

In [ ]:
rdd.count()

6

In [ ]:
rdd.collect()

['BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF']

In [ ]:
rdd.first()

'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF'

In [ ]:
rdd.take(3)

['BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF',
 'BJP RJD CPIM AAP AIDMK ADMK UDF BJP RJD CPIM AAP AIDMK ADMK UDF']

In [ ]:

rdd_split = rdd.flatMap(lambda line: line.split(" "))
rdd_split.collect()
rdd_split.countByValue()

defaultdict(int,
            {'BJP': 12,
             'RJD': 12,
             'CPIM': 12,
             'AAP': 12,
             'AIDMK': 12,
             'ADMK': 12,
             'UDF': 12})

In [ ]:
text_rdd = sc.textFile("/content/EVM.txt")
words_rdd = text_rdd.flatMap(lambda line: line.split(" "))
pair_rdd = words_rdd.map(lambda word: (word, 1))
word_count_rdd = pair_rdd.reduceByKey(lambda a, b: a + b)
word_count_rdd.collect()

[('BJP', 12),
 ('RJD', 12),
 ('CPIM', 12),
 ('AAP', 12),
 ('AIDMK', 12),
 ('ADMK', 12),
 ('UDF', 12)]

In [ ]:
emp_data = [

["001","101", "John Doe", "30", "Male", "50000", "2015-01-01"],

["002", "101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],

["003", "102", "Bob Brown", "35", "Male", "55000", "2014-05-01"],

["004", "102", "Alice Lee", "28", "Female", "48000", "2017-09-30"],

["005", "103", "Jack Chan", "40", "Male", "60000", "2013-04-01"],

["006", "103", "Jill Wong", "32", "Female", "52000", "2018-07-01"],

["007", "101", "James Johnson", "42", "Male", "70000", "2012-03-15"],

["008", "102", "Kate Kim", "29", "Female", "51000", "2019-10-01"],

["009", "103", "Tom Tan", "33", "Male", "58000", "2016-06-01"],

["010", "104", "Lisa Lee", "27", "Female", "47000","2018-08-01"],

["011", "104", "David Park", "38", "Male", "65000","2015-11-01"],

["012", "105", "Susan Chen", "31", "Female", "54000","2017-02-15"],

["013", "106", "Brian Kim", "45", "Male", "75000","2011-07-01"],

["014", "107", "Emily Lee", "26", "Female", "46000", "2019-01-01"],

["015", "106", "Michael Lee", "37", "Male", "63000", "2014-09-30"],

["016", "107", "Kelly Zhang", "30", "Female", "49000", "2016-04-01"],

["017", "105", "George Wang", "34", "Male", "57000", "2016-03-15"]
]

In [ ]:
columns = "employee_id string, department_id string,name string,age string,gender string,salary string,hire_date string"

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("emp").getOrCreate()

In [ ]:
emp = spark.createDataFrame(data=emp_data,schema=columns)

In [ ]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2016-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
#define the schema manually with nullable

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [ ]:
schema = StructType([
    StructField("name",StringType(),nullable=False),
    StructField("age",IntegerType(),nullable=False),
    StructField("city",StringType(),nullable=True)
])

In [ ]:
data = [
    ("Alice",25,"New York"),
    ("Bob",30,"Los Angeles"),
]

In [ ]:
dummy_data = spark.createDataFrame(data,schema)
dummy_data.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- city: string (nullable = true)

In [ ]:
dummy_data.show()

+-----+---+-----------+
| name|age|       city|
+-----+---+-----------+
|Alice| 25|   New York|
|  Bob| 30|Los Angeles|
+-----+---+-----------+

In [ ]:
emp.select("name","age").show(5)

+----------+---+
|      name|age|
+----------+---+
|  John Doe| 30|
|Jane Smith| 25|
| Bob Brown| 35|
| Alice Lee| 28|
| Jack Chan| 40|
+----------+---+
only showing top 5 rows

In [ ]:
emp.filter(emp.age>30).show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp.orderBy(emp.salary).show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2016-04-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
+-----------+-------------+-------------+---+------+------+----------+

In [ ]:
emp.orderBy(emp.salary.desc()).show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2016-04-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
+-----------+-------------+-------------+---+------+------+----------+

# Spark sql

In [ ]:
ev_data = spark.read.csv('/content/EV_Dataset.csv',header=True)
ev_data.show()

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/content/EV_Dataset.csv.

# Reading csv with InferSchema

The inferSchema=True option automatically detects data types.

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/datasets/EV_Dataset.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- Year: double (nullable = true)
 |-- Month_Name: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Vehicle_Class: string (nullable = true)
 |-- Vehicle_Category: string (nullable = true)
 |-- Vehicle_Type: string (nullable = true)
 |-- EV_Sales_Quantity: double (nullable = true)

Read mode in pyspark

Read mode defines how Spark handles corrupted or missing data.

Default Read Mode (PERMISSIVE)
Default mode: loads bad records as NULL values instead of failing.

If any missing values was there then it will come as NULL

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/datasets/EV_Dataset.csv',header=True, mode='PERMISSIVE')
df.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

Drop the missing values(now working)

In [ ]:
df1 = spark.read.csv('/content/drive/MyDrive/datasets/EV_Dataset.csv',header=True, mode='DROPMALFORMED')
df1.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

Convert the DataFrame to Parquet

In [ ]:
df.write.mode('overwrite').parquet('/content/drive/MyDrive/datasets/parquet')

In [ ]:
df_parquet = spark.read.parquet('/content/drive/MyDrive/datasets/parquet')
df_parquet.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

Convert the dataframe into ORC file

In [ ]:
df.write.orc('/content/drive/MyDrive/datasets/orc',mode='overwrite')

Read the file from ORC

In [ ]:
df_orc = spark.read.orc('/content/drive/MyDrive/datasets/orc')
df_orc.show()
df_orc.printSchema()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

root
 |-- Year: string (nullable = true)
 |-- Month_Name: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Vehicle_Class: string (nullable = true)
 |-- Vehicle_Category: string (nullable = true)
 |-- Vehicle_Type: string (nullable = true)
 |-- EV_Sales_Quantity: string (nullable = true)

In [ ]:
json_data = [
    {"employee_id":1,"name":"Alice","details":{"department":"HR","salary":5000}},
    {"employee_id":2,"name":"Bob","details":{"department":"IT","salary":6000}},
    {"employee_id":3,"name":"Charlie","details":{"department":"Finance","salary":7000}}
]

df = spark.createDataFrame(json_data)
df.write.mode('overwrite').json('/content/drive/MyDrive/datasets/json')

In [ ]:
df.show()

+--------------------+-----------+-------+
|             details|employee_id|   name|
+--------------------+-----------+-------+
|{salary -> 5000, ...|          1|  Alice|
|{salary -> 6000, ...|          2|    Bob|
|{salary -> 7000, ...|          3|Charlie|
+--------------------+-----------+-------+

In [ ]:
df_flattened = df.select(
    "employee_id",
    "name",
    "details.department",
    "details.salary"
)

df_flattened.show()

+-----------+-------+----------+------+
|employee_id|   name|department|salary|
+-----------+-------+----------+------+
|          1|  Alice|        HR|  5000|
|          2|    Bob|        IT|  6000|
|          3|Charlie|   Finance|  7000|
+-----------+-------+----------+------+

In [ ]:
spark